# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.opensdf
*.sdf
*.cache
*.pdb
*.ilk
*.log
*.tlog/
*.idb
*.ipch
*.aps
*.ncb
*.sbr
*.scc
*.vssscc
*.vsscc
*.dbmdl
*.dbproj
*.dbproj.schemaview
*.pfx
*.publishsettings
*.vspscc
*.vssscc
*.vsscc
*.tmp
*.bak
*.swp
*.swo
*.obj
*.exe
*.dll
*.lib
*.exp
*.pch
*.bsc
*.res
*.manifest
*.rc
*.rct
*.idb
*.ipdb
*.iobj
*.ipch
*.tlog
*.log
*.lastbuildstate
*.suo
*.sdf
*.opensdf
*.cache
*.dbmdl
*.dbproj
*.dbproj.schemaview
*.pfx
*.publishsettings
*.vspscc
*.vssscc
*.vsscc
*.tmp
*.bak
*.swp
*.swo
# CMake
CMakeFiles/
cmake_install.cmake

#counter
# VSCodeCounter
.VSCodeCounter/

